.home__wallpaper {
  z-index: -1;
  width: 100%;
  background-size: contain;
  margin-bottom: -200px;
  mask-image: linear-gradient(to bottom, transparent 0.1%, black 75%);
}

.title{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  color: #ffbc00;
  font-weight: bold;
}